@font-face {
    font-family: "Digital";
    src: url("../fonts/digital-7.ttf") format("truetype");
}

.flex-align-items {
    display: flex;
    align-items: center;
    margin-left: 70px;
}

.modes {
    font-family: "Digital";
    background-color: #333;
    width: 400px; 
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;

    & > div {
        text-align: center;
        padding: 10px;
        background-color: #606060;
        transition: background-color .5s;
        
        &:hover {
            background-color: orange;
        }
    }
}

.back-arrow {
    border: solid #606060;
    border-width: 0 15px 15px 0;
    display: inline-block;
    position: absolute;
    padding: 15px;
    top: 20px;
    left: 20px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    cursor: pointer;
}

.calculator {
    background-color: #333;
    width: 600px;
    padding: 20px;
    border-radius: 3px;
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
    user-select: none;
    height: 438px;


    & > .screen {
        font-family: Digital;
        border-radius: 3px;
        background-color:white;
        margin-bottom: 10px;
        height: 50px;
        border: 1px solid black;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
        font-size: 40px;
        text-align: right;

        & > div {
            position: relative;
            top: 50%;
            transform: translateY(-50%); 
            overflow-x: auto;
            white-space: nowrap;
        }
    }

    .button {
        cursor: pointer;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        padding: 8px;
        text-align: center;
        font: 32px Arial, sans-serif;
        margin: 10px 30px;
    }

    & > .pad {
        display: flex;
        margin-top: 20px;
        background-color: #dbd9da;
        border-radius: 3px;

        & > .pad-numbers-buttons {
            display: flex;
            flex-wrap: wrap;
            & > .number-button {

                background: #fff;
                border: 2px solid #666;
                color: #666;

            }
        } 

        & > .pad-operands-buttons {
            display: flex;
            flex-direction: column;
            & > .operand-button {
                background: orange;
                border: 2px solid #666;
                color: #666;
            }
        }

        & > .pad-outputs-buttons {
            display: flex;
            flex-direction: column;
            & > .output-button {
                background: #232332;
                border: 2px solid #666;
                color: white;
            }
        }
    }
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.computes-list {
    font-family: Digital;
    padding: 20px;
    background-color: #333;
    margin-left: 20px;
    width: 300px;
    height: 438px;
    border-radius: 3px;
    color: white;
    font-family: 'Montserrat';

    li {
        word-wrap: break-word;
    }
}
